<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>TrustME</title>
        <link href="static/style.css" rel="stylesheet" />
        <script src="static/script.js" defer></script>
    </head>

    <body>
        <header>
            <a href="startsida.html">
                <h1>TrustME</h1>
            </a>
            <div class="searchbar">
                <div class="search-container">
                    <input class="search-input" type="text" placeholder="Sök företagsnamn" id="companyName">
                    <button class="search-button" onclick="testReviews()">
                        <img class="search-icon" src="images/search.png" alt="Sök">
                    </button>
                </div>
            </div>            
        </header>
        <main>
            <div id="placeinfo" class="data">
                <h3>Platsinformation</h3>
                <img id="mapImage" src="" alt="Karta">

                <script src="script.js"></script>
            </div>

            <p id="name"></p>

            <div id="strengths" class="data">
                <!-- Lista kommer att fyllas dynamiskt av JavaScript -->
                <p id="strengths-list">hejaheja</p>
            </div>
            <div id="flaws" class="data">
                <!-- Lista kommer att fyllas dynamiskt av JavaScript -->
                <p id="flaws-list">dummadumma</p>
            </div>
            <div id="strategy" class="data">
                <!-- Lista kommer att fyllas dynamiskt av JavaScript -->
                <p id="strategy-list">okej hörni</p>
            </div>

            <div id="reviewsdata">
                <div id="google-info">
                    <h2>Google Information</h2>
                    <p id="google-reviews">Recensioner</p>
                </div>

                <div id="foursquare-info">
                    <h2>Foursquare Information</h2>
                    <p id="foursquare-reviews">Recensioner</p>
                </div>
            </div>
        </main>
        <footer>
            <p>Johan Holmberg i vårt hjärta</p>
        </footer>
    </body>
</html>
