<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrustME</title>
    <link href="static/style.css" rel="stylesheet">
    <script src="static/script.js" defer></script>
</head>

<body>
       <!-- Sidans header med logga, rubrik och sökfunktion -->
    <header>
        <div id="title">
            <h1 id="TrustMe-startsida">TrustME</h1>
            <h2 id="h2-startsida">Empower your Business</h2>
        </div>
          <!-- Sökruta -->
        <div class="searchbar-startsida">
            <div class="search-container">
                <input class="search-input" type="text" placeholder="Sök företagsnamn" id="companyName">
                <button class="search-button" onclick="searchAndRedirect()">
                    <img class="search-icon" src="images/search.png" alt="Sök">
                </button>
            </div>
        </div>
    </header>
        <!-- Huvudinnehåll -->
    <main>
        <div id="about" class="data">
    
            <ul>
                <p class="about-title">Vi på TrustMe</p>
                <p class="about-caption">Optimera ditt företags framgång med trustME - En Sammanställning av Kundrecensioner för Bättre
                    Beslut</p>

                <p class="about-caption">Vad är trustME?</p>

                    <li>trustME är din företagspartner för att effektivt navigera genom kundrecensioner och maximera din
                    verksamhetspotential. Vi har utformat en innovativ tjänst som ger företag en översiktlig
                    sammanställning av sina kunders omdömen, vilket ger dig insikter för att fatta informerade beslut
                    och optimera din verksamhet.</li>

                <p class="about-caption">Hur fungerar det?</p>

                    <li>När du söker på ditt företag presenteras du för tre viktiga aspekter. Styrkor som betonar vad dina
                    kunder uppskattar mest. Brister identifierar områden för förbättring. Och Optimeringstrategi ger
                    konkreta förslag baserade på kundfeedback. Det är ett kraftfullt verktyg för att maximera
                    kundtillfredsställelse och stärka ditt varumärkesposition på marknaden.</li>

                <p class="about-caption">Fördelar för ditt företag</p>
                    
                     <li>Effektiv tidsanvändning: Genom att sammanställa recensioner sparar du tid och energi, och får
                    istället en koncentrerad översikt över ditt företags prestationer och förbättringsområden.
                    Djupa insikter: TrustME ger dig inte bara kvantitativ information utan även kvalitativa insikter,
                    vilket hjälper dig att förstå kundernas känslor och behov på en djupare nivå.
                    Strategiska beslut: Med tydlig information om styrkor, brister och optimeringsmöjligheter kan du
                    fatta strategiska beslut för att stärka ditt varumärke och öka kundnöjdheten.</li>

                <p class="about-caption">Varför trustME?</p>
                    
                    <li> Med trustME får du inte bara en enkel översikt över kundrecensioner. Du får en handlingsplan för att
                    förbättra och växa. Vår tjänst är utformad för att stödja företag som strävar efter att överträffa
                    sina kunders förväntningar och skapa långsiktiga relationer. TrustME är verktyget som tar ditt
                    företag till nästa nivå genom att omvandla kundinsikter till strategiska framsteg. </li>
               
                 <p class="about-caption">
                    Optimera din framgång med trustME idag!
                 </p>
            </ul>
        </div>
    </main>
    <footer id="footer-startsida">
    </footer>
</body>

</html>