.about-container {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #156a11;
}

.text-section-container .paragraph-box-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Let the height adjust based on content, but ensure uniformity */
}

.text-section-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to next row */
    justify-content: space-between; /* Evenly space items */
    margin: 0; /* Center the container horizontally */
    padding: 0;
    max-width: 100%;
    box-sizing: border-box; 
}

.paragraph-box-about {
    background-color: #156a11;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
    text-align: center;
    flex: 0 1 50%; /* Each box takes up 50% of the container's width minus margin */
    box-sizing: border-box; /* Include padding in the width calculation */
    padding: 50px;
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    justify-content: center; /* Center content vertically */
    margin: 0;
}

.paragraph-title {
    font-size: 20px;
    margin: 0;
    text-align: start;
    padding-bottom: 25px;
}

.api-list {
    display: flex; 
    align-items: flex-start;
    margin-bottom: 30px;
}

#google-text {
    flex: 1;
    white-space: normal;
    margin-left: 70px;
}

#foursquare-text {
    flex: 1; 
    white-space: normal;
    margin-left: 35px;
}

#openai-text {
    flex: 1; 
    white-space: normal; 
    margin-left: 120px;
}

.api-title {
    font-weight: bold; 
    white-space: nowrap; 
    flex-shrink: 0;
    text-shadow: 1px 1px black;
}

.paragraph-box-about:hover {
    background-color:  #489427;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.paragraph-box-about#top-left-para {
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    border-left: black 2px solid;
    border-top: black 2px solid;
}

.paragraph-box-about#top-right-para {
    border-left: black 1px solid;
    border-bottom: black 1px solid;

    border-right: black 2px solid;
    border-top: black 2px solid;

}

.paragraph-box-about#bottom-left-para {
    border-right: black 1px solid;
    border-top: black 1px solid;

    border-left: black 2px solid;
    border-bottom: black 2px solid;
}

.paragraph-box-about#bottom-right-para {
    border-left: black 1px solid;
    border-top: black 1px solid;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.icon {
    margin-right: 20px;
    font-size: 20px;
}

.text-content {
    flex: 1; /* Allows this container to expand */
}

.paragraph-title-about {
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px black;
}

.paragraph-text-about {
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    margin: 0 auto; /* Centrerar texten horisontellt */
    padding: 30px;
    padding-inline: 80px;
    font-style: italic;
    text-shadow: 1px 1px black;
}

.page-title-about {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #489427;
    margin: 0;
    padding-block: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

