body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

header {
    font-family: tahoma;
    background: #202B3B;
    box-shadow: 0px 5px 100px 5px #202B3B;
    text-align: center;
    height: 398px;
    width: 100%;
}

h1 {
    margin-top: 0%;
    padding-top: 120px;
    color: #C66C02;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.searchbar {
    padding-left: 10px;
    border-radius: 20px;
    background: #F6F6F6;
    width: 45%;
    height: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#company {
    grid-area: 1 / 1 / 2 / 3;
}

.data {
    border-radius: 10px;
    background: #202B3B;
}

h3 {
    margin: 10px;
    color: #C66C02;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#strengths {
    margin: 15px;
    grid-area: 1 / 1 / 2 / 2;
}

#flaws {
    margin: 15px;
    grid-area: 1 / 2 / 2 / 2;
}

#strategy {
    margin: 15px;
    grid-area: 2 / 1 / 3 / 3;
}