body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    font-family: Tahoma;
    background: rgba(0, 31, 63, 1);
    box-shadow: 0px 5px 100px 5px #202b3b;
    text-align: center;
    height: 600px;
}

footer {
    font-family: Tahoma;
    color: rgba(247, 247, 247, 1);
    background: rgba(0, 31, 63, 1);
    height: 200px;
    margin-top: 550px;
}

#footer-index,
.footer-startsida {
    font-family: Tahoma;
    color: rgba(247, 247, 247, 1);
    background: rgba(0, 31, 63, 1);
    height: 200px;
    margin-top: 550px;
}

#footer-index {
    font-family: Tahoma;
    color: rgba(247, 247, 247, 1);
    background: rgba(0, 31, 63, 1);
    height: 240px;
    margin-top: -250px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 10px;
    padding: 85px;
}

#title {
    display: flex;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
    color: #ef8104;
    font-size: 40px;
    font-weight: 400;
    max-width: 500px;
    height: 50px;
    position: relative;
    margin-left: 200px;
    top: 80px;
}

#h2-index,
.h2e-startsida {
    color: white;
    font-size: 45px;
    font-family: Tahoma;
    height: 50px;
    position: relative;
    margin-left: -130px;
    top: 280px;
}

#h2-index {
    margin-left: -700px;
    font-size: 40px;
    top: 200px;
}

h2 {
    color: white;
    font-size: 45px;
    font-family: Tahoma;
    height: 50px;
    position: relative;
    margin-left: -130px;
    top: 240px;
}

#TrustMe-index,
.TrustMe-startsida {
    margin-top: 0;
    padding-top: 20px;
    color: #ef8104;
    font-size: 40px;
    font-weight: 400;
    max-width: 500px;
    height: 50px;
    position: relative;
    margin-left: 200px;
    top: 80px;
}

#TrustMe-index {
    margin-left: -78px;
    top: 18px;
    font-size: 40px;
}
.searchbar-startsida {
    border-radius: 20px;
    background: #f6f6f6;
    width: 8900px;
    max-width: 600px;
    height: 50px;
    position: relative;
    margin-left: 210px;
    top: 255px;
}

.searchbar-index {
    border-radius: 20px;
    background: #f6f6f6;
    width: 8900px;
    max-width: 600px;
    height: 50px;
    position: relative;
    margin-left: 730px;
    top: -150px;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translate(-50%, -50%);
    display: flex; /* Använd flexbox för att centrera innehållet horisontellt */
}

.search-input {
    border: none;
    background-color: transparent;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: calc(100% - 40px);
    outline: none;
    margin-right: 220px; /* Öka avståndet till höger (justera efter behov) */
}

.search-button {
    background: transparent;
    border: none;
    padding: 0;
    width: 30px; /* Bredden på knappen (matcha ikonens bredd) */
    height: 30px; /* Höjden på knappen (matcha ikonens höjd) */
    margin-left: -20px;
}

.search-icon {
    height: 30px;
    margin-left: 190px; /* Justera om det behövs */
}

#name {
    font-size: 78px;
    color: #ffffff;
    border-radius: 20px;
    font-family: Tahoma;
    height: 50px;
    position: relative;
    margin-left: 25px;
    top: -400px;
}

.data {
    border-radius: 10px;
    background: rgba(247, 247, 247, 1);
    color: rgba(99, 99, 99, 1);
}

h3 {
    margin: 50px;
    color: rgba(99, 99, 99, 1);
    font-size: 30px;
    font-weight: 700;
}

.data {
    margin: 30px;
    color: white;
}

#strengths {
    margin: 1px 3px 3px 3px; /* Övre marginal minskad */
    grid-area: 2 / 1 / 3 / 2;
    color: rgb(221, 0, 0);
    position: relative;
    top: -400px; /* Justera efter behov */
}

#flaws {
    margin: 1px 3px 3px 3px; /* Övre marginal minskad */
    grid-area: 2 / 2 / 3 / 3;
    color: rgb(220, 0, 0);
    position: relative;
    top: -400px; /* Justera efter behov */
}

#strategy {
    margin: 0 30px 30px 30px; /* Övre marginal minskad */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    grid-area: 3 / 1 / 4 / 2;
    color: #fffdfd;
    background-color: #0074e4;
    position: relative;
    top: -400px; /* Justera efter behov */
}

#placeinfo {
    grid-area: 3 / 2 / 4 / 3;
    margin: 1px 3px 3px 3px; /* Övre marginal minskad */
    color: rgb(255, 255, 255);
    position: relative;
    top: -400px; /* Justera efter behov */
}

#mapImage {
    width: 50%;
}

#reviewsdata {
    /* Recensionrutan */
    margin: 30px;
    grid-area: 4 / 1 / 5 / 3;
    border-radius: 20px;
    background-color: #0074e4;
    color: #ffffff;
    display: flex;
    position: relative;
    top: -400px; /* Justera efter behov */
}

#google-info {
    /* Recensionrutan vänster */
    overflow: hidden;
    word-wrap: break-word;
    padding: 15px;
    flex: 1;
}

#foursquare-info {
    /* Recensionrutan höger */
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px;
    flex: 1;
}

#about {
    /* Om oss rutan */
    position: absolute;
    top: 450px;
    left: 180px;
    right: 180px;
    padding-top: 10px;
    margin: 30px;
    color: rgba(99, 99, 99, 1);
    box-shadow: -5px 0 10px -5px rgb(99, 99, 99, 1),
        5px 0 10px -5px rgb(99, 99, 99, 1), 0 5px 10px -5px rgb(99, 99, 99, 1);
    z-index: 1;
}

.data h3 {
    /* Om oss rutan */
    font-size: 30px;
    font-weight: 700;
}

.data ul {
    /* Om oss rutan */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.data li {
    /* Om oss rutan - avstånd mellan stycken */
    margin-bottom: 20px;
}
