body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

header {
    font-family: Tahoma;
    background: linear-gradient(#001020, #002c56);
    box-shadow: 0px 5px 100px 5px #202b3b;
    text-align: center;
    height: 600px;
}

footer {
    background: linear-gradient(#001020, #002c56);
    height: 200px;
    margin-top: 800px;
}

#footer-index {
    background: linear-gradient(#001020, #002c56);
    height: 240px;
    margin-top: -20px;
}

#title {
    display: flex;
}

#h2-index,
.h2e-startsida {
    color: white;
    font-size: 45px;
    font-family: Tahoma;
    height: 50px;
    position: relative;
    margin-left: -130px;
    top: 280px;
}

/* Placering för underrubriken på indexsidan */
#h2-index {
    margin-left: -500px;
    font-size: 40px;
    top: 200px;
}

h2 {
    color: white;
    font-size: 45px;
    font-family: Tahoma;
    height: 50px;
    position: relative;
    margin-left: -130px;
    top: 240px;
}

header a {
    text-decoration: none;
}

/* Utseende och placering för huduvrubrik/logga */

h1 {
    margin-top: 0;
    padding-top: 20px;
    color: #ef8104;
    font-size: 40px;
    font-weight: 400;
    max-width: 500px;
    height: 50px;
    position: relative;
    margin-left: 200px;
    top: 80px;
}

#TrustMe-index,
.TrustMe-startsida {
    margin-top: 0;
    padding-top: 20px;
    color: #ef8104;
    font-size: 40px;
    font-weight: 400;
    max-width: 500px;
    height: 50px;
    position: relative;
    margin-left: 200px;
    top: 80px;
}

#TrustMe-index a {
    text-decoration: none;
    color: #ef8104;
    margin-left: -360px;
    font-size: 40px;
}

/* Utseende och placering för sökrutan */

.searchbar-startsida {
    border-radius: 20px;
    background: #f6f6f6;
    width: 8900px;
    max-width: 600px;
    height: 50px;
    position: relative;
    margin-left: 210px;
    top: 255px;
}

.searchbar-index {
    border-radius: 20px;
    background: #f6f6f6;
    width: 8900px;
    max-width: 600px;
    height: 50px;
    position: relative;
    margin-left: 630px;
    top: -100px;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translate(-50%, -50%);
    display: flex;
}

.search-input {
    border: none;
    background-color: transparent;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: calc(100% - 40px);
    outline: none;
    margin-right: 220px;
}

.search-button {
    background: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-left: -20px;
}

.search-icon {
    height: 30px;
    margin-left: 190px;
}

/* Namnet på företaget */
#name {
    font-size: 78px;
    color: #ffffff;
    font-family: Tahoma;
    position: absolute;
    top: 300px;
    left: 200px;
}

/* Utseende för huvudinnehållet på indexsidan, datan som kommer in och gridsen */
.data {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    color: rgb(0, 0, 0);
}

h4 {
    margin: 50px;
    color: rgba(99, 99, 99, 1);
    font-size: 15px;
    font-weight: 600;
}

#mapImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr) auto auto;
    gap: 1px;
    padding: 3px;
    margin-left: 175px;
    margin-right: 175px;
}

#placeinfo {
    grid-row: span 1;
    display: grid;
    place-items: center;
}

#flaws {
    grid-row: span 2;
}

#strengths {
    grid-row: span 1;
}

#strategy {
    grid-column: span 2;
    background-color: #0074e4;
    color: #f6f6f6;
}

#reviewsdata {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #0074e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fffdfd;
}

/* Om oss rutan på startsidan */

#about {
    position: absolute;
    top: 450px;
    left: 180px;
    right: 180px;
    padding-top: 10px;
    margin: 30px;
    color: rgba(99, 99, 99, 1);
    box-shadow: -5px 0 10px -5px rgb(99, 99, 99, 1),
        5px 0 10px -5px rgb(99, 99, 99, 1), 0 5px 10px -5px rgb(99, 99, 99, 1);
    z-index: 1;
}

.data ul {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.data li {
    margin-bottom: 20px;
}

h5 {
    color: #525252;
}